.scroll {
  display: flex;
  background-color: rgba(0, 0, 0, 0.94);
}
.notscroll {
  display: flex;
  background-color: rgba(0, 0, 0, 0.103);
}

nav {
  position: sticky;
  top: 0;
  height: 6rem;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  padding: 0.4rem;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.left_side {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 10rem;
}

img {
  width: 100%;
}

.links {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

.links li a {
  color: grey;
  text-decoration: none;
}

.right_side {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.right_side button {
  cursor: pointer;
  background-color: red;
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
}
